/* Roboto */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v32-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v32-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* Play */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


:root {
    --accent-main-color: rgba(43, 127, 255, 1);
    --secondary-main-color: rgba(1, 28, 68, 1);

    --white: #fff;
    --black: #000;
    --grey-copyright: rgba(116, 114, 114, 1);

    --main-font:"Roboto", sans-serif;
    --secondary-font: "Play", sans-serif;;

    --font-size: 18px;
}
body { 
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 { 
    margin-top: 0;
}
address { 
    font-style: normal;
}

ul { 
    list-style: none;
}

.container { 
    margin: 0 auto;
    max-width: 1272px;
    padding: 0 16px;
    width: 100%;
}

/* button */
.button {
    background: var(--accent-main-color);
    border: 2px solid var(--accent-main-color);
    border-radius: 32px;
    color: var(--white);
    font-weight: 600;
    padding: 16px 32px;
}
.button:hover { 
    background: transparent;
    color: var(--black);
}

/* nav */

.nav-link { 
    color: var(--secondary-main-color);
    text-decoration: none;
}

.nav-link:hover { 
    color: var(--accent-main-color);
    font-weight: 700;
}

/* about us */

.hero-section { 
    padding: 123px 0;
}

.hero-title { 
    color: var(--accent-main-color);
    font-family: var(--secondary-font);
    font-size: 140px;
    font-weight: 700;

    margin-bottom: 0;
    width: 529px;
}

/* why us */
.why-us { 
    padding-top: 83px;
}

/* section */

.section { 
    padding: 48px 0;
}
.section-title { 
    color: var(--secondary-main-color);
    font-weight: 700;

}

.section-title .accent { 
    color: var(--accent-main-color);
}

/* procedures  */
.procedures-title { 
    color: var(--white);
    font-style: 22px;
    line-height: 1.1;
}

/* address */

.address-link { 
    color: var(--white);
    font-style: 16px;
    line-height: 1.2;
    text-decoration: none;
}

.address-link:hover { 
    color: var(--accent-main-color);
    font-style: 16px;
    line-height: 1.2;
}

.address-copyright {
    color: var(--grey-copyright); 
    font-style: 13px;
    line-height: 1.2;
}
