:root {
    --accent-main-color: rgba(43, 127, 255, 1);
    --secondary-main-color: rgba(1, 28, 68, 1);

    --white: #fff;
    --black: #000;
    --grey-copyright: rgba(116, 114, 114, 1);
    --grey-hero-info: rgba(74, 74, 74, 1);

    --main-font-roboto: "Roboto", sans-serif;
    --secondary-font-play: "Play", sans-serif;

    --font-size: 18px;
}
