.about {
    &__container {
        display: flex;
        gap: 40px;
        justify-content: space-between;

        @media screen and (max-width: $bp-mobile) {
            margin-top: -50px;
        }
    }
    
    &__title {
        font-family: var(--main-font-roboto);
        font-weight: 700;
        max-width: 529px;
    }

    &__text {
        color: var(--secondary-main-color);
        font-size: 22px;
        line-height: 1.17;

        @media screen and (min-width: $bp-tablet) {
            line-height: 1.8;
        }

        margin-bottom: 40px;
        max-width: 709px;
        &--accent { 
            font-weight: 600;
        }

        &:last-child{ 
            margin-bottom: 0;
        }
    }

    &__side-image { 
        display: none;
         @media screen and (min-width: $bp-desktop) {
        display: block;
    }
    }
}
