.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    
    
    @media screen and (min-width: $bp-desktop) {
        
        background-color: #ffffff40;
        backdrop-filter: blur(5px);
        padding: 32px 0;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 40px;
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
            flex-grow: 1;
            gap: 56px;
            justify-content: center;
        }
    }

    &__icons {
        fill: var(--secondary-main-color);
    }

    &__burger {
        position: absolute;
        top: 16px;
        right: 16px;
        
        background-color: transparent;
        border: none;
        fill: var(--white);

        @media screen and (min-width: $bp-desktop) {
            display: none;
        }
    }
}
