.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 32px 0;
    width: 100%;

    background-color: #ffffff40;
    backdrop-filter: blur(5px);

    &__container{ 
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__nav { 
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 40px;
    }

    &__menu {
        display: flex;
        flex-grow: 1;
        gap: 56px;
        justify-content: center;
    }

    &__icons { 
        fill: var(--secondary-main-color);
    }
}
