.why-us {
    padding-top: 83px;

    &__wrap {
        display: flex;
        align-items: center;
        gap: 56px;
        justify-content: center;
    }

    &__title {
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 450px;
    }
    
    &__item {
        border-radius: 32px;
        box-shadow: 0 4px 4px rgba(168, 198, 245, 0.38);
        text-align: center;
        height: 181px;
        width: 316px;
    }

    &__icon {
        fill: var(--accent-main-color);
    }

    &__text {
        padding: 0px 32px;
    }
}
