
.about-container {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.about-us-title {
    font-family: var(--secondary-font-play);
    max-width: 529px;
}

.about-us-text {
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 40px;
    max-width: 709px;
}
.about-us-text:last-child {
    margin-bottom: 0;
}