
.contacts {
    padding-bottom: 96px;
}

.contacts-format {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.contact-map {
    flex-shrink: 0;
    border-radius: 32px;
}

.contact-form {
    background-color: var(--secondary-main-color);
    border-radius: 32px;
    padding: 48px 57px;
    max-height: 482px;
    max-width: 423px;
    height: 100%;
    width: 100%;
}

.contact-text {
    color: var(--white);
    font-size: 22px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 32px;
    max-width: 280px;
    text-align: center;
}

.form-terms.contact-terms {
    color: var(--grey-copyright);
}

.form-btn.contact:hover {
    background-color: rgba(255, 255, 255, 0.144);
    color: var(--white);
}
