
.footer {
    position: relative;

    background: var(--secondary-main-color);
    padding: 56px 0;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
    flex-grow: 1;
}

.footer-link {
    color: var(--white);
    text-decoration: none;

    padding-bottom: 16px;
    transition: color 0.3s;
}
.footer-link:hover {
    color: var(--accent-main-color);
}

.footer-icons {
    fill: var(--white);
}

.footer::after {
    position: absolute;
    bottom: 0;
    right: 0;

    background-image: url(/images/cosmetics-decor.png);

    content: "";
    height: 152px;
    width: 247px;
}


.address-link {
    color: var(--white);
    font-style: 16px;
    line-height: 1.2;
    text-decoration: none;
    padding-bottom: 16px;
    transition: color 0.3s;
}

.address-link:hover {
    color: var(--accent-main-color);
    font-style: 16px;
    line-height: 1.2;
}

.address-copyright {
    color: var(--grey-copyright);
    font-style: 13px;
    line-height: 1.2;
    margin: 0;
}