.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 32px 0;
    width: 100%;

    background-color: #ffffff40;
    backdrop-filter: blur(10px);
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}
.header-menu {
    display: flex;
    flex-grow: 1;
    gap: 56px;
    justify-content: center;
}

.nav-icons {
    fill: var(--secondary-main-color);
}